<div class="container mt-5 shadow-sm p-3 mb-5 rounded bg-body">
  <h2 class="center">Login</h2>
  <form class="mt-5" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="email" class="form-label">Digite seu e-mail</label>
      <input type="email" class="form-control" id="email" formControlName="email">
      <div
        *ngIf="loginForm.get('email')?.invalid &&
        loginForm.get('email')?.touched"
        class="text-danger"
      >
        Email é obrigatório
      </div>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Digite sua senha</label>
      <input type="password" class="form-control" id="password" formControlName="password">
      <div
        *ngIf="loginForm.get('password')?.invalid &&
        loginForm.get('password')?.touched"
        class="text-danger"
      >
        Senha é obrigatória
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="isLoading || loginForm.invalid">
      <span *ngIf="!isLoading">Login</span>
      <span *ngIf="isLoading" class="spinner-border" role="status"></span>
    </button>

  </form>
</div>